//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

.table-permis-feature {
	.mw-colname {
		min-width: 230px;
	}
}

.cursor-pointer {
	label {
		cursor: pointer;
	}
}

.custom-form-check {
	.form-check {
		.form-check-label {
			padding-top: 3px;
		}
	}
}